/* Cabecera */
.cabecera__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecera__buscar__item{
    display: none;
}

/* Seccion Superior */
.superior__seccion__container{
    display: flex;
    overflow: scroll;
    align-items: center;
    gap: 16px;
    position: absolute;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Menu */

.menu__container{
    position: fixed;
    height: 74px;
    width: 100%;
    bottom: 0;
}

.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li{
    align-self: center;
} 

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}

/* Videos */

.videos__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
}

.videos__item{
    width: 272px;
    margin-top: 20px;
    flex-grow: 1;
}

.descripcion-video{
    display: flex;
    margin-top: 10px;
}

.descripcion-video img{
    width: 32px;
    height: 32px;
}

.detalles__video h3{
    margin-bottom: 16px;
}

/* Seccion Rodapie */
.rodapie__container{
    display: flex;
    flex-flow: column wrap;
    padding-top: 12px;
    margin-top: 52px;
}



/* width min 834px */

@media (min-width: 834px){

    /* Cabecera */
    .cabecera__buscar__item{
        display: block;
    }

    /* Menu Lateral */
    .menu__container{
        left: 0;
        width: 74px;
        top: 80px;
        height: auto;
    }

    .menu__lista{
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
    }

}

/* width min 1440px */
@media (min-width: 1440px){

    /* Menu Lateral */
    .menu__container{
        width: 239px;
        overflow: scroll;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4){
        display: flex;
    }

    .menu__lista{
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;
    }

    .menu__itens{
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .menu__lista:nth-child(3){
        flex-direction: column-reverse;
    }

    .videojuegos{
        order: 1;
    }

    .peliculas{
        order: 2;
    }

    .premium{
        order: 3;
    }


}
